@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Shared Styles */
.display-flex{
    display: flex;
}
.main-text{
    color: rgba(255, 255, 255, 1);
}
.short{
    color: rgba(255, 255, 255, 0.5);
}
.bg-light{
    background-color: #111111;
    max-width: 100%;
    padding: 10px 80px;
}
.title, .write{
    font-style: italic;
}
.text{
    color: #FFFFFF;
    font-size: 1.25rem;
}
.text, .short{
    text-align: center;
}
.table-title, .table{
    color: #FFFFFF;
    }
/* Navbar Styles */
.title{
font-size: 2.25rem;
font-weight: 800;
color: #E6533C;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.nav-links{
    list-style: none;
    border: 1px solid rgb(55, 54, 54);
    border-radius: 80px;
}
.nav-link{
    text-decoration: none;
    background-color: rgba(17, 17, 17, 1);
    color: #FFFFFF;
}
.nav-item{
    margin-right: 30px;
    text-decoration: none;
}
.bar{
    background-color: #E6533C;
    border-radius: 100px;
}
/* Header Styles */

/* Banner Styles */
.banner-title{
    color: #FFFFFF;
    font-size: 4.25rem;
    font-weight: 700;
}
.write{
    font-weight: 400;
}
.description{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
background-color: #E6533C;
color: #FFFFFF;
width: 180px;
height: 30px;
border: 1px solid black;
border-radius: 50px;
}
.btn-secondary{
    background-color: #111111;
    color: #FFFFFF;
    width: 180px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50px;
}
.banner-image{
    width: 280px;
    height: 440px;
    margin: 0 auto;
}
.bts{
    background-color: rgba(255, 255, 255, 0.1);
    width: 140px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
}
.digit{
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 700;
}
.writing{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.75rem;
}
.digits{
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 700;
}
.ball{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #E6533C;
    text-align: center;
}
/* Change related styles */
.change{
    background-color: black;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.change-title{
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 700;
}
.head{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.img-container img{
    height: 180px;
    width: 180px;
    border-radius: 100%;
}
.img-container{
    gap: 40px;
    justify-content: center;
    align-items: center;
}
/* Run Section related style */
.run{
    background-color: #222222;
    margin: 8px 50px;
    max-width: 100%;
    border: 1px solid #222222;
    border-radius: 10px;
    justify-content: space-between;
}
.separate{
    padding: 5px 20px 20px 60px;
}
.run-title{
    color: #FFFFFF;
    font-size: 2.75rem;
    font-weight: 600;
}
.description{
    color: rgba(255, 255, 255, 0.5);
}
.run-image{
    height: 250px;
    width: 320px;
    border-radius: 15px;
    margin: 40px;
}
/* BMI calculator Styles */
.text-bmi{
    color: rgba(255, 255, 255, 0.5);
}
.bmi{
    padding: 10px 300px;
}
/* table related style */
.bmi-calculator{
    background-color: #222222;
    max-width: 100%;
}
.bmi-table{
    margin-left: 100px;
    padding: 30px 20px;
   
}
.table-title{
    font-size: 1.5rem;
    font-weight: 600;
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
}
tr th{
    text-align: start;
}
tr td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85rem;
}
input{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
input form{
    color: rgba(255, 255, 255, 0.6);
}
.tables{
    padding: 30px 20px;
    margin-left: 80px;
}
.last-bt{
    margin: 10px 0px;
}
/* meet section styles */
.meet-title{
    font-size: 2.5rem;
    color: #FFFFFF;
    font-weight: 600;
}
.meet-text{
    text-align: center;
    padding-bottom: 10px;
}
.meet-img-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}
.meet-img-container img{
    height: 280px;
    width: 350px;
    border-radius: 10px; 
}
/* Footer styles */
.last{
    padding: 30px;
    margin-top: 40px;
    gap: 120px;
}
footer{
    background-color: rgba(255, 255, 255, 0.10);
}
.footer-text{
    color: rgba(255, 255, 255, 0.50);
}
ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.50);
    padding: 5px 10px;
}
.foot{
    padding-left: 30px;
}
/* Responsive for smmall device */
@media screen and (max-width: 576px) {
    .nav-links{
        display: none;
    }
.display-flex{
    flex-direction: column;
}
.run-image{
    height: 100%;
    width: 100%;
    justify-items: center;
}
.button{
flex-direction: row;
}
.meet-img-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.meet-img-container img{
    justify-items: center;
    width: 100%;
    height: 100%;
}
}